@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Apstipriniet e-pastu";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />


<h5>Paldies, ka apstiprinājāt savu e-pasta adresi! Tagad varat autorizēties :)</h5>