@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Aizmirsāt paroli?";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="row d-flex justify-content-center align-items-center" style="margin-top: 50px;">
    <div class="col-md-4 card p-4 shadow-lg" style="width: 500px;">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Atjaunot paroli</button>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
