@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Paroles atiestatīšanas apstiprinājums";
}

<h1>@ViewData["Title"]</h1>
<p>
    Jūsu parole ir atiestatīta. Lūdzu <a asp-page="./Login">noklikšķiniet šeit, lai pieteiktos</a>.
</p>
